# Python
venv/
__pycache__/
*.pyc

#Env
.env

# Node
frontend/node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#Editor
.vscode/
.history/

# Model files
backend/*.pt

# Database
backend/*.db

# Runtime folders
backend/detections/
backend/recordings/
backend/screenshots/
